Makefile
/Makefile.am
Makefile.in
aclocal.m4
config.cache
config.guess
config.h.in
config.log
config.status
config.sub
configure
configure.ac
coverage/
depcomp
doc/
install-sh
missing
mkinstalldirs
stamp-h
dhcp-server.pot
autom4te.cache
Makefile.am.common
*.ami
doc/autodocs/*.html
/testsuite/config/
/testsuite/run/
doc/autodocs/.yardoc/
doc/autodocs/Yast/
doc/autodocs/css/
doc/autodocs/js/
testsuite/*.exp
testsuite/*.log
testsuite/raw.tmp.*
testsuite/tmp.err.*
testsuite/tmp.out.*
testsuite/yast2-dhcp-server.sum
testsuite/yast2-dhcp-server.test/
.yardoc/
